<nav class="header">
  <a class="logo" routerLink="/products" routerLinkActive="active-link">MyShop</a>

  <div class="nav-links">
    <a routerLink="/products" routerLinkActive="active-link">Products</a>
    <a routerLink="/cart" routerLinkActive="active-link">Cart</a>
    <a routerLink="/login" routerLinkActive="active-link">Login</a>
  </div>

    <a *ngIf="!isLoggedIn()"
   routerLink="/login">
   Login
</a>

<button *ngIf="isLoggedIn()"
        (click)="logout()">
  Logout
</button>
</nav>
