<section class="detail-page">

  <div class="detail-card"
       *ngIf="product">

    <div class="product-top">

      <div class="product-icon">

        <span *ngIf="product.category === 'Laptop'">
          💻
        </span>

        <span *ngIf="product.category === 'Mobile'">
          📱
        </span>

        <span *ngIf="product.category === 'Watch'">
          ⌚
        </span>

      </div>

    </div>

    <div class="detail-content">

      <p class="eyebrow">
        Premium Product
      </p>

      <h2>
        {{ product.name }}
      </h2>

      <p class="brand">
        Brand:
        <span>
          {{ product.brand }}
        </span>
      </p>

      <p class="detail-copy">
        {{ product.description }}
      </p>

      <h3 class="price">
        ₹ {{ product.price }}
      </h3>

      <div class="actions">

        <button
          class="primary-btn"
          type="button"
          (click)="addToCart()">

          Add To Cart

        </button>

        <button
          class="secondary-btn"
          type="button"
          routerLink="/products">

          Back

        </button>

      </div>

    </div>

  </div>

</section>