<div class="login-container">
  <div class="login-card">
    <p class="eyebrow">Welcome Back</p>
    <h2>Login</h2>
    <form #userForm="ngForm"
      (ngSubmit)="onSubmit(userForm)">

  <!-- Email -->

  <div class="field">

    <label>Email</label>

    <input
      type="email"
      name="email"
      [(ngModel)]="user.email"
      required
      email
      #email="ngModel"
      placeholder="Enter your email" />

    <small *ngIf="email.invalid && email.touched">

      <span *ngIf="email.errors?.['required']">
        Email is required
      </span>

      <span *ngIf="email.errors?.['email']">
        Enter valid email
      </span>

    </small>

  </div>

  <!-- Password -->

  <div class="field">

    <label>Password</label>

    <input
      type="password"
      name="password"
      [(ngModel)]="user.password"
      required
      minlength="6"
      #password="ngModel"
      placeholder="Enter your password" />

    <small *ngIf="password.invalid && password.touched">

      <span *ngIf="password.errors?.['required']">
        Password is required
      </span>

      <span *ngIf="password.errors?.['minlength']">
        Password must be minimum 6 characters
      </span>

    </small>

  </div>

  <!-- Invalid Login -->

  <button type="submit"
          [disabled]="userForm.invalid">

    Login

  </button>

  <p class="register-link">

    Don't have an account?

    <a routerLink="/register">
      Register
    </a>

  </p>

</form>