<section class="cart-page">

  <div class="cart-header">

    <h2 class="title">
      Your Cart
    </h2>

    <p>
      Review your selected items before checkout.
    </p>

  </div>

  <!-- Empty Cart -->

  <div *ngIf="cartService.cart().length === 0"
       class="empty">

    <h3>Cart is empty</h3>

    <p>
      Add products from the catalog to see them here.
    </p>

  </div>

  <!-- Cart Items -->

  <div class="cart-list"
       *ngIf="cartService.cart().length > 0">

    <div class="cart-item"
         *ngFor="let item of cartService.cart(); let i = index">

      <div>

        <h3>{{ item.name }}</h3>

        <p>{{ item.description }}</p>

        <h4>
          Quantity: {{ item.quantity }}
        </h4>

      </div>

      <div class="item-actions">

        <span class="price">
          ₹ {{ item.price * item.quantity }}
        </span>

        <!-- Quantity Buttons -->

        <div class="qty-buttons">

          <button class="qty-btn"
                  (click)="decrease(i)">

            -

          </button>

          <button class="qty-btn"
                  (click)="increase(i)">

            +

          </button>

        </div>

        <!-- Remove Button -->

        <button class="remove-btn"
                (click)="removeItem(i)">

          Remove

        </button>

      </div>

    </div>

    <!-- Total -->

    <div class="cart-total">

      <h2>
        Total: ₹ {{ cartService.total() }}
      </h2>

    </div>

  </div>

</section>